// Colors
$darkGrey: #333;
$regularOldGrey: #666;
$aNiceBlue: #1c88bf;
$moodyBlue: #364051;
$offWhite: #f7f7f7;

// Spacing
$sSize: 1.2rem;
$mSize: 1.6rem;
$lSize: 3.2rem;
$xlSize: 4.8rem;

// Breakpoint
$desktop: 45rem;

// Font Sizes
$fontLarge: 1.8rem;
$fontSmall: 1.4rem;
